<!-- {%extends 'base.html'%}

{% block content %}
{{block.super}}

<div class="container">
    <div class="container">
          {% for user in images %}

          <div class="card" style="width: 30rem;margin-top: 10%">
            <img src="{{user.images.url}}" style="width: 30px; height: 30px;" class="img-responsive" 
                <div class="card-body">
                        <h5>{% autoescape on %} 
                                {{user.bio| safe}} 
                                {% endautoescape %}</h5>
                </div>
            </div>

          <div class="row" style="margin-top: 5%">
              displaying all_images
              <div class="col-md-6">
                
                 
              </div>
          </div>
          {% empty %}
          <div class="row">
              <h2 class="text-center">There No images</h2>
          </div>

          {% endfor %}
</div>
{% endblock %} -->