{%extends 'base.html'%}

{% block content %}
{{block.super}}

<div class="container">
    {% for user in all_images %}

    <div class="card" style="width: 30rem;margin-top: 10%">
    <img src="{{user.profile_photo.url}}" class="img-responsive" 
        <div class="card-body">
                <h5>{% autoescape on %} 
                        {{user.bio| safe}} 
                        {% endautoescape %}</h5>
        </div>
    
    {% empty %}
    <div class="row">
        <h2 class="text-center">There No images</h2>
    </div>

    {% endfor %}
</div>
{% endblock %}