{%extends 'base.html'%}

{% block content %}
{{block.super}}
<style>
    .profile_image {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
</style>

<div class="container" >         
            {% for images in all_images %}

            <div class="card" style="width: 35rem; margin-top: 6%; margin-left: 20%; ">  
                    {% if user%}
                    <img src="{{myprof.profile_photo.url}}" class="img-responsive profile_image"><span>{{ images.user }}</span>
                            {% endif %}
            <img src="{{images.image.url}}" height="400" class="img-responsive" alt="Image">
        <div class="card-body">
            <h5> {{images.image_caption}} </h5>
            <h5> <small>{{images.date|timesince}}</small> </h5>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}